body {
  background-image: url("../assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.openCard {
  background-color: black;
  opacity: .7;
}

.card {
  display: none
}
