/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
head {
  height: 100%;
}
body {
  height: 100%;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
/* Mixin Example from preprocessing project
    The point to remember is that declaring a mixin is a little different from declaring a functino
  MIXIN.LESS
 .btn (@color, @background-color) {
    color:@color;
    background-color:@background-color;
    height: 40px;
    width:75%;
}
this part targets any button tag within the destination class
.destination button {
    .btn(white, @button-bg);
}

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
head {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 503px) {
  .container {
    min-width: 308px;
  }
}
#marketingBackground {
  background-image: url("../assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#salesBackground {
  background-image: url("../assets/salesbackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container img {
  width: 22%;
  height: 45%;
  margin-top: 4%;
}
.headerLogo {
  display: flex;
  justify-content: center;
  height: 50%;
}
.mainNav {
  min-width: 483px;
  min-height: 316px;
  width: 45%;
  height: 45%;
  margin: auto auto auto auto;
  background: rgba(208, 216, 217, 0.4);
  border-radius: 10px;
  border-top: 15px double black;
}
@media (max-width: 503px) {
  .mainNav {
    display: flex;
    flex-direction: column;
    min-width: 308px;
    width: 483px;
  }
}
.mainNav nav {
  display: flex;
  flex-flow: row nowrap;
  background: rgba(208, 216, 217, 0.4);
  border-radius: 10px;
  height: 50%;
}
@media (max-width: 503px) {
  .mainNav nav {
    display: flex;
    flex-direction: column;
    min-width: 308px;
  }
}
.mainNav nav .tab {
  margin: auto auto 0% auto;
  display: flex;
  padding-top: 2%;
  width: 25%;
  border: 1px solid rgba(208, 216, 217, 0.4);
  font-weight: bold;
  justify-content: center;
  height: 40px;
  background: black;
  color: white;
}
@media (max-width: 503px) {
  .mainNav nav .tab {
    width: 100%;
    min-width: 308px;
  }
}
.active-tab {
  background-color: rgba(208, 216, 217, 0.4);
}
.tabs-item {
  display: none;
}
.tabs-item-selected {
  background: rgba(208, 216, 217, 0.4);
  border-radius: 10px;
  display: block;
}
.activTabMainNav {
  background-color: aquamarine;
}
#salesBackground {
  background-image: url("../assets/salesbackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.content-header {
  text-align: center;
  font-size: 140%;
  margin-bottom: 6%;
  font-weight: bold;
  background: rgba(208, 216, 217, 0.4);
  border-radius: 10px;
  border-top: 15px double black;
  padding: 5%;
}
.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
}
.salesContent {
  display: flex;
  margin: 18% 18% 18% 18%;
  justify-content: center;
  flex-wrap: wrap;
}
.donattionForm {
  width: 150%;
  height: 140%;
  margin: auto auto;
  background: rgba(208, 216, 217, 0.4);
  border-radius: 10px;
  border-top: 15px double black;
  padding: 5%;
}
.productFeature {
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}
.productFeature img {
  width: 115%;
  height: 150%;
  margin: auto auto;
  border-radius: 10px;
}
.content-form {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}
.content-form h2 {
  font-weight: bold;
  font-size: 120%;
  margin-top: 5%;
}
.content-form p {
  margin-bottom: 5%;
}
.content-form button {
  background-color: #6cb043;
  border: 0;
  color: white;
  padding: 2% 5% 2% 5%;
  border-radius: 10px;
  margin-bottom: 5%;
}
.content-form form {
  margin-bottom: 5%;
}
.content-form form input {
  width: 90%;
}
header {
  position: fixed;
  top: 0;
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-family: "sans-serif";
  margin: 0;
  padding: 0;
}
@media (max-width: 800px) {
  header {
    display: flex;
    height: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 162px;
    margin-bottom: 10%;
  }
}
@media (max-width: 503px) {
  header {
    min-width: 308px;
  }
}
header .volunteerTab {
  min-width: 100px;
  height: 20px;
  width: 194px;
  color: #9ca4ab;
  font-weight: bold;
  margin: auto 10% auto 10%;
  min-width: 194px;
}
@media (max-width: 800px) {
  header .volunteerTab {
    order: 2;
    margin: auto auto;
  }
}
header h1 {
  min-width: 258px;
  height: 30px;
  width: 258px;
  justify-content: center;
  font-size: 2rem;
  margin: auto 0px auto;
  padding: 0;
  color: #6cb043;
  font-weight: bold;
}
@media (max-width: 800px) {
  header h1 {
    order: 1;
    margin: 1% auto;
  }
}
header .signInTab {
  color: #9ca4ab;
  height: 15px;
  width: 60px;
  margin: auto 2px auto 10%;
  padding: auto auto;
  min-width: 60px;
}
@media (max-width: 800px) {
  header .signInTab {
    order: 2;
    margin: 1% auto;
  }
}
header .signInTab a {
  text-decoration: none;
  color: #9ca4ab;
}
header .headerBtn {
  min-width: 100px;
  min-height: 35px;
  color: #6cb043;
  height: 35px;
  width: 140px;
  background: white;
  border-radius: 5px;
  margin: auto 10% auto 0px;
  border: 1px solid #6cb043;
  min-width: 140px;
}
@media (max-width: 800px) {
  header .headerBtn {
    order: 2;
    margin: 0.4% auto;
    margin-bottom: 3%;
  }
}
header .headerBtnsales {
  color: #6cb043;
  height: 35px;
  width: 140px;
  background: white;
  border-radius: 5px;
  margin: auto 10% auto 0px;
  border: 1px solid #6cb043;
  visibility: hidden;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D5F1F3;
  height: 60px;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
footer .p1 {
  margin: auto 10%;
  min-width: 201px;
}
footer .p2 {
  min-width: 308px;
  margin: auto 10%;
}
.activTabFooter {
  background-color: aquamarine;
}
