footer {
    // position: fixed;
    // left: 0;
    // bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //  border: 1px solid red;
    background-color:  @footerBkgrdColor;
    height: 60px;
    width: 100%;
    padding: 0;

    @media(max-width:@tablet){
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 1px solid red;
        // position: relative;
        // bottom: auto;
    }
    // @media(max-width:@phone){
        // position: relative;
        // bottom: auto;
    // }
    .p1 {
        //  border: 1px solid red;
        margin: auto 10%;
        min-width:201px;
    }
    .p2{
        min-width: 308px;
        margin: auto 10%;
    }
    
}
.activeHeaderFooter {
    background-color: @footerBkgrdColor;
    // position: relative;
    // bottom: auto;
}
//I had to un-nest the paragraph mixins to accomodate the p1 min-width;