header {
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    font-family: @fontFamily;
    margin: 0;
    padding: 0;

    .volunteerTab {
        
        height: 20px;
        width: 300px;
        color: @headerFooterFontColor;
        font-weight: bold;
        //  border: 1px solid red;
        margin: auto 200px auto 100px;
        
    }
    h1 {
        height: 30px;
        width: 300px;
        justify-content: center;
        font-size: 2.0rem;
        margin: auto 0px auto;
        padding: 0;
        color: @headerFooterSubTitleFonts;
        border: 1px solid red;
        font-weight: bold;
    }

    .signInTab{
        color: @headerFooterFontColor;
        height: 15px;
        width: 60px;
        margin: auto 0px auto 10%;
        padding: auto auto;
        //   border: 1px solid red;
    }
    .headerBtn{
        color: @btnColor;
        height: 35px;
        width: 140px;
        background: white;
        border-radius: 5px;
        margin: auto 100px auto 0px;
        border: 1px solid @btnColor;
    }
}
