/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

//Personalized styling code after the reset/normalization
head {
    height: 100%;
}
body{
    height: 100%;
}
.container {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    @media(max-width:@phone){
        min-width: 308px;
    }
    
}
#marketingBackground {
    background-image: url("../assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    

    
    
}
#salesBackground {
    background-image: url("../assets/salesbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
// This is the logo image
.container img {
    //  border: 1px solid red;
     width:  22%;
     height: 45%;
    margin-top: 4%;
}
.headerLogo{
    // border: 1px solid red;
    display: flex;
    justify-content:center;
    height: 50%;
}
.mainNav{
    min-width: 483px;
    min-height: 316px;
    width: 45%;
    height: auto;
    margin: auto auto auto auto;
    background:@mainNavBackground;
    border-radius: 10px;
    border-top: 15px double black;
    @media(max-width:@phone){
        display: flex;
        flex-direction: column;
        min-width: 308px;
        width: 483px;
    }
    
    //   border: 1px solid red;
    

    nav{
        
        display: flex;
        flex-flow: row nowrap;
        // WE DON'T NEED THIS.  IT DISPLAYS THAT AWKWARD MIDDLE BOX background:@mainNavBackground;
        border-radius: 10px;
        margin:  auto auto;
        // border: 1px solid red;
        height: 25%;  
        @media(max-width:@phone){
            display: flex;
            flex-direction: column;
            min-width: 308px;
            // border: 1px solid red;
        }
        
        .tab {
            margin: auto auto 0% auto;
            display: flex;
            padding-top: 2%;
            justify-content: center;
            width: 25%;
            border: 1px solid @mainNavBackground;
            font-weight: bold;
            justify-content: center;
            height: 40px;
            background: black;
            color: white;
        
            @media(max-width:@phone){
                width:100%;
                min-width: 308px;
            }
        }
        
    }

}
.active-tab {
    background-color: @mainNavBackground;
}
.xBtn{
    display: flex;
    border:1px solid red;
}

.tabs-item {
    display: none;
}
.tabs-item-selected {
    // background: @mainNavBackground;
    border-radius: 10px;
    display: flex;
    
};
// .activTabMainNav {
//     height: 20px;  
// }