
#salesBackground {
    background-image: url("../assets/salesbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.content-header {
    text-align: center;
    font-size: 1.4rem;
    height: 45%;
    width: 40%;
    margin-bottom: 6%;
    font-weight: bold;
    background:rgba(208, 216, 217, 0.4);
    border-radius: 10px;
    border-top: 15px double black;
    padding: 5%;
    margin-top: 10%;
    @media(max-width:@tablet){

    }
    // border: 1px solid red;
}
.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
}
.salesContent {
    display: flex;
    margin: 18% 18% 18% 18%;
    justify-content: center;
    flex-wrap: wrap;
}
.donattionForm{
    display: flex;
    width: 30%;
    min-width: 182px;
    max-height: 387px;
    height: 40%;
    margin-top: 15%;
    font-size:1.4rem;
    margin: auto auto;
    background:@mainNavBackground;
    border-radius: 10px;
    border-top: 15px double black;
    padding: 5%;
}
.missionStatement{
    min-width: 180px;
}
//I MOVED THE IMAGE TO THE SALES CARD AREA
/*.productFeature {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    img {
        width: 115%;
        height: 150%;
        margin: auto auto;
        border-radius: 10px;
    }*/

.content-form {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-align: center;

    h2 {
        font-weight: bold;
        font-size: 120%;
        margin-top: 5%;
    }
    p {
        margin-bottom: 5%;
    }
    button {
        background-color: @headerFooterSubTitleFonts;
        border: 0;
        color: white;
        padding: 2% 5% 2% 5%;
        border-radius: 10px;
        margin-bottom: 5%;
    }
    form {
        margin-bottom: 5%;
        input {
            width:90%;
        }
    }
}