 

@fontFamily: "sans-serif";
@mainFontColor: #9ca4ab;
@headerFooterFontColor: #9ca4ab;
@btnColor: #6cb043;
@headerFooterSubTitleFonts: #6cb043;
@desktop: 800px;
@mobile: 500px;
@footerBkgrdColor: #D5F1F3;

@mainNavBackground: rgba(208, 216, 217, 0.4);
@tabHoverBkrd: rgb(0,0,0);
@tabHoverColor: rgb(208, 216, 217);
@cardBkrd: rgb(0,0,0,0.4);

//MOBILE VERSIONS
@tablet~"(min-width:800px)";
@phone~"(min-width:500px)";