// body font color #9ca4ab
//header background color rgba(255,255,255,0)
//I'll Serve Soup header title font-family Open Sans  border: 1px solid #2A9FD8;  

@fontFamily: "sans-serif";
@mainFontColor: #9ca4ab;
@headerFooterFontColor: #9ca4ab;
@btnColor: #6cb043;
@headerFooterSubTitleFonts: #6cb043;
@desktop: 800px;
@mobile: 500px;
@footerBkgrdColor: #D5F1F3;
